@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&family=Lancelot&display=swap');

/* Split the screen in half */
body {
  background-image: url("https://i.pinimg.com/564x/df/04/99/df049923eaf0dfa3b3c7db76ee87d6ee.jpg");
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

svg {
  margin: 5pt;
  fill: white;
  flex-grow: 1; 
}

/* Control the left side */
.left {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items:baseline;
}

h1 {
  font-family: 'Darker Grotesque', sans-serif;
  color: white
}

p {
  font-size: 12pt;
  font-family: 'Darker Grotesque', sans-serif;
  color: white;
}

/* Control the right side */
.right {
  /* background-image: url('https://i.pinimg.com/originals/a7/1d/3c/a71d3ce56e519bfeeb9e59bfd3aa14dd.gif');
  background-size: cover; */
  padding-left: 10pt;
  right: 0;
  /* background-color: #161616; */
}

/* If you want the content centered horizontally and vertically */
.centered {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  text-align: center;
  padding-bottom: 20pt;
}
